@IMPORT url("../bootstrap/css/bootstrap.min.css");
@IMPORT url("../js/jqdialog/jDialog.css");
@IMPORT url("login.css");
.dropdown:hover .arwlink{border-bottom:1px solid #FFF;border-left:1px solid #000066a;height:31px}
.dropdown ul{display:none}
.dropdown:hover ul{position:absolute;display:block;margin-left:-1px;top:32px;left:1px;z-index:9}

.red{color:red;}
.green{color:green;}
.imgMenuList{margin:0 auto;width:1200px;margin-bottom:10px;}
.imgMenuList li{list-style:none;float: left;width:140px;margin-left:10px;text-align:center;padding: 2px 10px 10px 0px;}
.imgMenuList li img{border:none;}