/*回到顶部按钮*/
#doitbegin_Back2top {
    display:block;
    width:38px;
    height:38px;
    background:url(./img/to-top.png) no-repeat;
    position: fixed;
    _position:absolute;
    right:20px;
    bottom: 20px;
    z-index: 10;
    cursor: pointer;
    text-indent: -999em;
}
#doitbegin_Back2top:hover {
    background:url(./img/to-top-hover.png) no-repeat;
}