<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<!-- ueditor及其他上传过滤 -->
	<filter>
		<filter-name>UploadFilter</filter-name>
		<filter-class>net.loyin.filter.UploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UploadFilter</filter-name>
		<url-pattern>/assets/js/ueditor/jsp/controller.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>druidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>/css/*,*.js,*.css,*/druid*,/upload/*,*.jsp,*.html,*.htm</param-value>
		</init-param>
		<init-param>
			<param-name>principalSessionName</param-name>
			<param-value>sessionInfo</param-value>
		</init-param>
		<init-param>
			<param-name>profileEnable</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>druidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>jfinal</filter-name>
		<filter-class>com.jfinal.core.JFinalFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>/assets/*,*.js,*.css,*/druid*,/upload/*</param-value>
		</init-param>
		<init-param>
			<param-name>configClass</param-name>
			<param-value>net.loyin.cfg.JFWebConfig</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>jfinal</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/err404</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/err500</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>