<!DOCTYPE html>
<html class="login-alone" ng-app="routerApp">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>{{userInfo.sn}}复利投资演算系统</title>
<!-- <link rel="stylesheet" href="s/bootstrap/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="s/js/jqdialog/jDialog.css"> -->
<link href="s/css/font-awesome.min.css" rel="stylesheet">
<!--[if lt IE 8]>
 <link href="s/css/font-awesome-ie7.min.css" rel="stylesheet">
<![endif]-->
<link rel="stylesheet" href="s/css/app.css">
<script src="s/js/jquery-1.10.2.min.js"></script>
<script src="s/angular/angular.min.js"></script>
<script src="s/angular/angular-animate.min.js"></script>
<script src="s/angular/angular-ui-router.min.js"></script>
<script src="s/angular/ui-bootstrap-tpls-0.11.2.min.js"></script>
<script src="s/js/jqdialog/jDialog.js"></script>
<script src="app/js/app.js"></script>
<script src="app/js/route.js"></script>
<script src="app/js/controllers.js"></script>
<script src="app/js/filters.js"></script>
<script src="app/js/services.js"></script>
</head>
<body>
	<div ng-repeat="msg in alertMsgList" class="alert alert-{{msg.type}}"
		style="margin-left:35%;width: 500px; position:absolute;margin-top:0px;z-index:100;" role="alert">
		<button type="button" class="close" data-dismiss="alert" ng-click="alertMsgList.splice($index,1)">×</button>
		{{msg.text}}
	</div>
	<div style="margin: 0 auto; width: 1200px;" ui-view></div>
</body>
</html>
