<div ng-controller="mainCtrl">
<div class="col-sm-4">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">游戏帐号</h3>
  </div>
  <div class="panel-body">
    <p><b>玩家编号：</b>{{userInfo.sn}}</p>
    <p><b>身份等级：</b>{{userInfo.level}}</p>
    <p><b>信用指数：</b>{{userInfo.credit_index}}</p>
    <p><b>激活状态：</b><span class="red" ng-if="userInfo.status==0">未激活</span>
    <span class="green" ng-if="userInfo.status==1">已激活</span></p>
    <p><b>帐号类型：</b>{{userInfo.account_type}}</p>
    <p><b>报单中心：</b>{{userInfo.report_center|yn}}</p>
    <p><b>直属游戏帐号：</b>{{userInfo.account_count_0}}</p>
    <p><b>游戏帐号总数：</b>{{userInfo.account_count_1}}</p>
    <p><b>游戏帐号有效数：</b>{{userInfo.account_count_2}}</p>
    <p><b>金币：</b><span class="red">{{userInfo.gold_coin}}元</span></p>
    <p><b>金种子：</b><span class="red">{{userInfo.gold_seeds}}元</span></p>
    <p><b>累计提成：</b><span class="red">{{(userInfo.bonus_2+userInfo.bonus_3)}}元</span></p>
    <p><b>累计分红：</b><span class="red">{{userInfo.bonus_0}}元</span></p>
    <p><b>帐号分红出局：</b><span class="red">{{userInfo.fhcj|yn}}</span></p>
  </div>
</div>
</div>
<div class="col-sm-4">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">最新公告</h3>
  </div>
  <div class="panel-body">
  <p ng-repeat="el in noticeList" class="list">{{el.title}}{{el.create_time}}</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">私人消息</h3>
  </div>
  <div class="panel-body">
  	<p ng-repeat="el in msgList" class="list">{{el.title}}{{el.create_time}}</p>
  </div>
</div>
</div>
<div class="col-sm-4">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">安全提示</h3>
  </div>
  <div class="panel-body">
  <p style="color:red;">尊敬的玩家，您好！以下是您在平台的最近活动情况，如发现异常，请及时修改密码！</p>
  <p><b>上次登录时间：</b>{{userInfo.last_login_time}}</p>
  <p><b>上登录IP：</b>{{userInfo.last_login_ip}}</p>
  <p><b>本次登录时间：</b>{{userInfo.login_time}}</p>
  <p><b>本次登录IP：</b>{{userInfo.login_ip}}</p>
  <p><b>登录总次数：</b>{{userInfo.login_count}}</p>
  <p><a href="#/modifyPwd" class="btn btn-success">修改密码</a></p>
  </div>
</div>
</div>
</div>