<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">我的玩家帐号</h3>
	</div>
	<div class="panel-body">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>玩家编号</th>
				<th>昵称</th>
				<th>激活状态</th>
				<th>金币</th>
				<th>金种子</th>
				<th>历史累计提成</th>
				<th>历史累计分红</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="e in list">
				<td>{{el.id}}</td>
				<td><span ng-if="el.status==1">已激活</span><span ng-if="el.status==0">未激活</span></td>
				<td>{{el.gold_coin|money}}</td>
				<td>{{el.gold_seeds|money}}</td>
				<td>{{el.lsljtc|money}}</td>
				<td>{{el.lsljfh|money}}</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>