<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">绑定身份信息</h3>
	</div>
	<div class="panel-body">
	<form class="form-horizontal" novalidate="novalidate" name="regForm" id="regForm" role="form">
  <div class="form-group">
  	<b>&nbsp;&nbsp;&nbsp;绑定身份信息</b>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">玩家编号：</label>
    <div class="col-sm-4">
    {{user.id}}
    </div>
    <div class="col-sm-5">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">玩家昵称：</label>
    <div class="col-sm-4">
    {{user.nick_name}}
    </div>
    <div class="col-sm-5">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">真实姓名：</label>
    <div class="col-sm-4">
    	<span ng-if="user.eal_name!=''">{{user.real_name}}</span>
		<input ng-if="user.real_name==''" type="text" class="form-control" ng-model="user.real_name" data-rule="required" id="referee_sn">
    </div>
    <div class="col-sm-5">
    	姓名绑定后不能修改，请写真实姓名。
    </div>
  </div>
  <div class="form-group" ng-if="user.identity_card==''">
    <label for="" class="col-sm-2 control-label">证件号码：</label>
    <div class="col-sm-4">
		<input type="text" class="form-control" ng-model="user.identity_card" data-rule="required" id="IDcard">
    </div>
    <div class="col-sm-5">
    证件号码只有在初次绑定时登记，将加密存储以后不能修改也不可见。
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">手机：</label>
    <div class="col-sm-4">
		<input type="text" class="form-control" ng-model="user.mobile" data-rule="mobile" id="mobile">
    </div>
    <div class="col-sm-5">
    请填写真实手机号码以便接收短信通知。
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">QQ：</label>
    <div class="col-sm-4">
		<input type="text" class="form-control" ng-model="user.qq" data-rule="qq" id="qq">
    </div>
    <div class="col-sm-5">
    </div>
  </div>
  <div class="form-group text-center">
  	<a class="btn btn-success"  ng-disabled="regForm.$invalid" ng-click="reg()">保存</a>
  </div>
  <div class="form-group">
<pre>
  说明：
  1、准确填写以上信息确保您帐号安全。
  2、姓名与证件号码一经填写将不可修改。
 </pre>
 </div>
  </form>
	</div>
</div>